h1 My Vacations

.row
  .col-xs-6
    table.table.table-hover
      thead
        tr
          th Title
          th Departure
          th Return
          th Takeoff
          th Landing
      tbody
        tr(ng-repeat='vacation in vacations', ng-click='show(vacation)')
          td {{vacation.title}}
          td {{vacation.departureDate | date: 'yyyy-MM-dd'}}
          td {{vacation.returnDate | date: 'yyyy-MM-dd'}}
          td {{vacation.departureAirport}}
          td {{vacation.arrivalAirport}}
  .col-xs-6
